<br><br><br>


<table class="table table-dark" style="width: 80%;margin: auto;">
    <thead>
      <tr>
        <th style="text-align: center;width: 60%;padding:30px;padding-left: 350px;">User Profile</th>
        <th style="padding: 30px;"></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th style="text-align: center;width: 60%;padding-left: 350px;"></th>
            <th></th>
          </tr>
      <tr>
        <td>Name</td>
        <td style="text-align: left;"> <%= user.name %> </td>
      </tr>
      <tr>
        <td>Username</td>
        <td style="text-align: left;"> <%= user.username %> </td>
      </tr>
      <tr>
        <td>Email Id</td>
        <td style="text-align: left;"> <%= user.email %> </td>
      </tr>
      <tr>
            <th style="text-align: center;width: 60%;padding:30px;padding-left: 350px;"></th>
            <th style="text-align: center;padding:30px;"></th>
      </tr>
    </tbody>
  </table>